body{
	text-align: center;
	background-image: linear-gradient(rgba( 0, 0, 50, 0.5),rgba( 0, 0, 50, 0.5)),url(r1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	font-family: sans-serif;
}
.request{
	margin-top: 50px;
	color: #fff;
	text-transform: uppercase;
<<<<<<< HEAD
	transition: all 3s ease-in-out;
}
.request h1{
	font-size: 35px;
	line-height: 10px;
=======
	transition: all 5s ease-in-out;
}
.request h1{
	font-size: 35px;
	line-height: 20px;
}
.form{
	margin-top: 70px;
	transition: all 5s ease-in-out;
}
.request-form input[type="text"],input[type="date"]{
	width: 500px;
	height: 30px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 5px solid #87d37c;
	color: #fff;
	font-size: 20px;
	margin-bottom: 18px;
}
.request-form input[type="submit"]{
	border: none;
	outline: none;
	width: 100px;
	height: 50px;
	background-color: #00b5cc;
	color: #fff;
	font-size: 20px;
	border-radius: 10px;
}
.request-form input[type="submit"]:hover{
	cursor: pointer;
	background-color: #2ecc71;
	color: #000;
}
#rb{
	font-size: 20px;
	color: #fff;
	font-weight: 900;
}
#year{
	width: 500px;
	height: 50px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 5px solid #87d37c;
	color: #fff;
	font-size: 20px;
	margin-bottom: 18px;
}
.specialColor { 
    /* Whatever color  you want */
    color: #000;
}
#dept{
	width: 500px;
	height: 50px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 5px solid #87d37c;
	color: #fff;
	font-size: 20px;
	margin-bottom: 18px;
}
#reas{
	width: 500px;
	height: 50px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 5px solid #87d37c;
	color: #fff;
	font-size: 20px;
	margin-bottom: 18px;
	
}
#gr{
	color: #2574a9;
}



























